<div id="container">

  <h1>Application</h1>
  <mat-form-field>
    <mat-label>Company Name</mat-label>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="data.companyName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Position Title</mat-label>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Application Method</mat-label>
    <mat-select cdkFocusInitial [(ngModel)]="data.method">
      <mat-option *ngFor="let method of methods" [value]="method">
        {{ method }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date Applied</mat-label>
    <input matInput type="date" cdkFocusInitial [(ngModel)]="data.date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Employment Type</mat-label>
    <mat-select cdkFocusInitial [(ngModel)]="data.employmentType">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select cdkFocusInitial [(ngModel)]="data.status">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
  </div>
</div>