<div cdkDropListGroup class = "wrapper">
  <div class="container">
    <h2>Applications</h2>
    <div
      cdkDropList
      [cdkDropListData]="applications"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of applications" cdkDrag>
        <p>{{item.companyName}}</p>
        <p>{{item.position}}</p>
        <p>{{item.method}}</p>
        <p>{{item.status}}</p>
        <p>{{item.date.toLocaleDateString("en-US")}}</p>
      </div>
    </div>
  </div>

   <div class="container">
    <h2>In Progress</h2>
    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
        <p>{{item.companyName}}</p>
        <p>{{item.date.toLocaleDateString("en-US")}}</p>
        <p>{{item.status}}</p>
        <p>{{item.type}}</p>
        <p>{{item.feedback}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Offers</h2>
    <div
      cdkDropList
      [cdkDropListData]="offers"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of offers" cdkDrag>
        <p>{{item.companyName}}</p>
        <p>{{item.date.toLocaleDateString("en-US")}}</p>
        <p>{{item.status}}</p>
        <p>${{(item.salary).toLocaleString()}}</p>
        <p>{{item.benefits}}</p>
      </div>
    </div>
  </div>
</div>