<div id="container">
  <h1>Sign Up!</h1>
  <mat-form-field>
    <mat-label>Email Address</mat-label>
    <input matInput type="email" cdkFocusInitial [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" cdkFocusInitial [(ngModel)]="data.password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" cdkFocusInitial [(ngModel)]="data.passwordConfirmation">
  </mat-form-field>
  <mat-form-field>
    <mat-label color="primary">Name</mat-label>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Desired Job Title</mat-label>
    <input matInput type="text" cdkFocusInitial [(ngModel)]="data.desiredJobTitle">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Search Start Date</mat-label>
    <input matInput type="date" cdkFocusInitial [(ngModel)]="data.dateStartedLooking">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Salary Target</mat-label>
    <input matInput type="number" cdkFocusInitial [(ngModel)]="data.salaryTarget">
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Sign Up</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="">Cancel</button>
  </div>
</div>
